.friends .friends__plus{ 
  padding: 20px 0px;
  border-top: 1px solid rgb(226, 138, 138);
  border-bottom: 1px solid rgb(226, 138, 138);
  margin: 20px 0px
}

.friends__plus .friends__title,
.friends__list .friends__title{
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}