@import 'fonts.css';
@import 'header.css';
@import 'friends.css';
@import 'photoList.css';
@import 'photoViewer.css';
@import 'footer.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 340px;
  min-height: 710px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  font-family:'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
  position: relative;
  width: 340px;
  height: 710px;
  border: 6px solid #160D39;
  border-radius: 29px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  padding: 0 5px;
  background: #EDF0F6;
}

#wrapper::-webkit-scrollbar {
  width: 0.0000001px;
  background: transparent;
}
/* #wrapper::-webkit-scrollbar-thumb {
  background: transparent;
} */

header {
  margin-top: 25px;
  /* outline: 1px solid green; */
}

