.photo-list {
  display: block;
  /* outline: 2px solid rgb(240, 93, 26); */
  position: relative;
  height: calc(100% - 77px);
  animation: photo-list-ani .5s ease-in-out;
}

.photo-list .photo-section {
  width: 100%;
  height: 68%;
  background: #fff;
  /* border: 1px solid #000; */
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 12px;
}

.photo-section .photo-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* outline: 2px solid rgb(240, 93, 26); */
}

.photo-section__header .photo-column {
  display: flex;
  align-items: center;
  /* outline: 1px solid palevioletred; */
}

.photo-section__header i {
  cursor: pointer;
}

.photo-column img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  box-shadow: 1px 6px 6px 2px #c5c5c5;
  border-radius: 50%;
}

.photo-column__content .writer {
  display: block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.photo-column__content .written-time {
  font-size: 11px;
  font-weight: 700;
  opacity: 0.5;
}

.photo-section .photo-section__photo {
  width: 100%;
  height: 76%;
  overflow: hidden;
  /* border: 1px solid #000; */
  border-radius: 20px;
  box-shadow: 0px 17px 13px 0px #c5c5c591;
}

.photo-section__photo img {
  height: 100%;
  margin-left: -150px;
}

.photo-section:nth-of-type(3) .photo-section__photo img {
  margin-left: -28px;
}

.photo-section .photo-section__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid green; */
  padding: 5px 10px 0px 10px;
}

.photo-section__footer .photo-column {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  /* outline: 1px solid green; */
}

.photo-column .photo-column__heart,
.photo-column .photo-column__comment {
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}

.photo-column .fa-bookmark {
  cursor: pointer;
}

.photo-column i {
  font-size: 15px;
  margin-right: 5px;
}

.photo-column span {
  font-size: 10px;
  font-weight: 700;
}

@keyframes photo-list-ani{
  0% {
    top: -153px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}